docs/Models/C3DStudyDesignAndData.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="gme://ccts.cabig/1.0/gov.nih.nci.cabig.ccts.domain.c3DStudyDesignAndData">
	<xs:element name="DataCollectionInstrument" type="DataCollectionInstrument"/>
	<xs:complexType name="DataCollectionInstrument">
		<xs:sequence>
			<xs:element name="date" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DataCollectionModule" type="DataCollectionModule" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DataCollectionModule" type="DataCollectionModule"/>
	<xs:complexType name="DataCollectionModule">
		<xs:sequence>
			<xs:element name="date" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="eventSubsetNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QuestionGroup" type="QuestionGroup" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Event" type="Event"/>
	<xs:complexType name="Event">
		<xs:annotation>
			<xs:documentation>GetStudyCDE
GetStudyCDEData
GetStudyCRF
GetStudyCRFData</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="date" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StudySubject" type="StudySubject" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DataCollectionInstrument" type="DataCollectionInstrument" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="QuestionGroup" type="QuestionGroup"/>
	<xs:complexType name="QuestionGroup">
		<xs:sequence>
			<xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Question" type="Question" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Question" type="Question"/>
	<xs:complexType name="Question">
		<xs:sequence>
			<xs:element name="defaultPrompt" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="repeatSequenceNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QuestionValue" type="QuestionValue" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CommonDataElement" type="CommonDataElement" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CaseReportForm" type="CaseReportForm"/>
	<xs:complexType name="CaseReportForm">
		<xs:annotation>
			<xs:documentation>A CRF is another name for DataCollectionInstrument. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="crfName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dciName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dciDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dciId" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Event" type="Event" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DataCollectionModule" type="DataCollectionModule" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StudySubject" type="StudySubject"/>
	<xs:complexType name="StudySubject">
		<xs:annotation>
			<xs:documentation>An actual or potential individual who participates in a clinical trial either as a recipient of the investigational product or as a control.  May also include individuals who are being screened for clinical trials, or individuals participating in observational or other studies.

For example, when designing a clinical trial we would use the StudySubject as a placeholder (indicated by the placeholder code) to describe the act committees in which the potential subject would participate.  Once a subject was identified, that StudySubject would be linked to the actual person in the study.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="informedConsentSignatureText" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The text provided by the patient when acknowledging participation on the protocol usually by signing the informed consent document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A value drawn from an enumerated value set which describes the lifecycle of a class in the BRIDG model(e.g., new, active, inactive, nullified, normal, completed, suspended, draft, retired, terminated, pending approval, held, cancelled, aborted)

For example, the status change of a protocol to 'suspended', requiring that patient accrual be halted until the protocol is restored to fully active status. This refers to codes to represent the status of a protocol in relation to the ability to enroll participants/patients. 

For example, in a StudyProtocol, some of the values may be include things like: C-Closed, O-Open, S-Suspended, T-Terminated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusEndDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date after which a status is no longer considered active, enforceable, relevant, etc.

For example, effectiveEndDate may refer to the closing of a study to enrollment. Patients enrolled on the study at the time of closure will continue their treatment plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusStartDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date when this particular status becomes active.

For example, in protocol, the effective date may be the date of IRB approval of the initial protocol version; the date the IRB Chair signs off on a protocol and patient enrollment can begin.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="studySubjectState" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A value specifying whether the state of participation of a person in the given Study is screening, enrolled, terminated, completed, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subgroup" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique code for identification of uniform groups of patients for separate analysis or treatment.

For example, in NCI this is the CDUS Reporting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="studySubjectStateDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A date value specifying when  the state of participation of a person in the given Study changed to screening, enrolled, terminated, completed, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="II" type="II" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="QuestionValue" type="QuestionValue"/>
	<xs:complexType name="QuestionValue">
		<xs:sequence>
			<xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StudyProtocol" type="StudyProtocol"/>
	<xs:complexType name="StudyProtocol">
		<xs:annotation>
			<xs:documentation>This class is defined as &lt;&lt;both&gt;&gt; a subtype of Documentation - meaning that the term is used to define, specify, and/or contain any number of the specific documents that describe the objective(s), background, and/or plan (including the design, methodology, statistical considerations, organization, or other supplemental materials that describe the required information of a PlannedStudy &lt;&lt;and&gt;&gt; a collector for the specifications of specific activities, observations, interventions or assessments that are planned in a PlannedStudy  or executed in a PerformedStudy.  This includes all activities planned to test a particular hypothesis that is the basis of the StudyProtocol regarding the therapeutic effectiveness of a particular treatment, drug, device, procedure, or system.  A StudyProtocol can be either Primary or Correlative.  A StudyProtocol is considered to be Primary if it has one or more Correlative studies associated with it.  A Correlative study extends the objectives or observations/conclusions of a Primary study, enrolling the same (or a subset of the same) subjects as were enrolled in the Primary study.

A document that describes the objective(s), background and plan (including design, methodology, statistical considerations and organization) of a Planned Study. The protocol also may refer to supplemental materials that describe required information. [modified ICH]  

NOTE: We are assuming that a document is a container, which may be physical or logical, with the six characteristics listed in the definition of the Document class.  This class is the container for the Plan. 

NOTE: StudyProtocol describes the pre-study, study, and post-study portions of the plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="II" type="II" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StudySite" type="StudySite"/>
	<xs:complexType name="StudySite">
		<xs:annotation>
			<xs:documentation>A health care site in which clinical trial activities are conducted. 

For example, the site where the subject encounter occurs, or the site of the Investigator.

NOTE: Account for hierarchy in sites and relation to Study ID.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="accrualStatus" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Defines the status of the trial at the site.

For example, open to accrual; closed to accrual; temporarily closed to accrual; pending accrual.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date specifying the end of the site's participation in a clinical trial.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="irbApprovalDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date the Institutional Review Board (IRB) approved this protocol for execution at this site.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The role the site is playing in that study. This is a coded list of kinds of participation. For an organization, this could include: Lead organization, participating organization, Primary sponsor, Secondary Sponsor etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date specifying the start of the site's participation in a clinical trial or study.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A value specifying whether the state of participation of a site in the given Study is pending, active, complete, or cancelled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusEndDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date after which a status is no longer considered active, enforceable, relevant, etc.

For example, effectiveEndDate may refer to the closing of a study to enrollment. Patients enrolled on the study at the time of closure will continue their treatment plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusStartDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date when this particular status becomes active.

For example, in protocol, the effective date may be the date of IRB approval of the initial protocol version; the date the IRB Chair signs off on a protocol and patient enrollment can begin.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetAccrualNumber" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total number of patients/subjects/participants needed for protocol enrollment at this site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StudyProtocol" type="StudyProtocol" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StudySubject" type="StudySubject" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="II" type="II"/>
	<xs:complexType name="II">
		<xs:annotation>
			<xs:documentation>An identifier that uniquely identifies a thing or object. Examples are object identifier for HL7 RIM objects, medical record number, order id, service catalog item id, Vehicle Identification Number (VIN), etc. 


For example: sponsor protocol number, site id, investigator id, subject id, accession id, etc. 

The assigningAuthority attribute is necessary to provide a context on who set that id for the study id, investigator id, etc.

Similar to InstanceIdentifier data type of HL7 v3.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="root" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An unique identifier that guarantees the global uniqueness of the instance identifier. The root alone may be the entire instance identifier. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A character string as a unique identifier within the scope of the identifier root. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assigningAuthorityName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A human readable name or mnemonic for the assigning authority. The Assigning Authority Name has no computational value. The purpose of a Assigning Authority Name is to assist an unaided human interpreter of an II value to interpret the authority. Note: no automated processing must depend on the assigning authority name to be present in any form. [HL7]

For example, the name of the organization who issued the extension.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displayble" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies if the identifier is intended for human display and data entry (displayable = true) as opposed to pure machine interoperation (displayable = false). </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CommonDataElement" type="CommonDataElement"/>
	<xs:complexType name="CommonDataElement">
		<xs:sequence>
			<xs:element name="publicIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
